<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Invite - Zeon - The Multifunctional Discord Bot</title>
    <meta content="I'm Zeon, The Best Multifunctional Discord Bot Of To Make Dream Of Your Server Come True"
        name="description" />
    <meta content="Invite - Zeon - The Multifunctional Discord Bot" property="og:title" />
    <meta content="Invite The Great Zeon To Make Dream Of Your Server Come True!" property="og:description" />
    <meta content="https://media.discordapp.net/attachments/1030476372444975105/1037715062506401902/Untitled_design.png?width=1411&height=655" property="og:image" />
    <meta content="Invite - Zeon - The Multifunctional Discord Bot" property="twitter:title" />
    <meta content="Invite The Great Zeon To Make Dream Of Your Server Come True!" property="twitter:description"
    />
    <meta content="https://media.discordapp.net/attachments/1030476372444975105/1037715062506401902/Untitled_design.png?width=1411&height=655" property="twitter:image" />
    <meta property="og:type" content="website" />
    <meta content="summary_large_image" name="twitter:card" />
  </head>
  <body onload = "FuncInvite()">
    <script>
      function FuncInvite(){
        window.location.replace("https://discord.com/api/oauth2/authorize?client_id=969558840926437406&permissions=1395763178742&scope=bot%20applications.commands");
      }
    </script>
  </body>
</html>